html {
    scroll-behavior: smooth;
  }

.custom-header-image {
    display: block;
    margin: 0; 
    max-width: 80%; 
    height: auto; 
    position: relative; /* Zmień na relative, aby pozycjonowanie było elastyczne */
    top: 0; /* Usuń ręczne pozycjonowanie */
    left: 0; /* Usuń ręczne pozycjonowanie */
    margin-left: 1.8em; /* Dostosuj marginesy w zależności od potrzeb */
    margin-top: 6em; /* Dostosuj marginesy w zależności od potrzeb */
}

/* Dodatkowo możesz dodać media queries, aby dopasować rozmiar logo na mniejszych ekranach */
@media screen and (max-width: 768px) {
    .custom-header-image {
        max-width: 60%; /* Zmniejsz rozmiar logo na mniejszych ekranach */
        margin-top: 4em; /* Dostosuj margines, aby lepiej pasował */
    }
}

/* wysokość nawigacji po lewej */
.md-nav.md-nav--primary {
  padding-top: 45px; /* Zwiększ odstęp od góry */
}

/*  wysokość nawigacji po prawej > */
.md-nav.md-nav--secondary {
  padding-top: 30px; 
}

[data-md-color-scheme="delab"] {
  --md-primary-fg-color:        #3485C8;
  --md-primary-fg-color--light: #3485C8;
  --md-primary-fg-color--dark:  #3485C8;
  --md-accent-fg-color:         #3485C8;
  --md-code-hl-color:           #3485C8;
}